<a href="https://colab.research.google.com/github/Praxis-QR/FDS/blob/main/FDS_Data36_Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png)<br>
<hr>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

##Reference<br>
[Data36 Tutorial 1](https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/)<br>
[Data36 Tutorial 2](https://data36.com/pandas-tutorial-2-aggregation-and-grouping/)

In [2]:
import numpy as np
import pandas as pd

#Loading Data

In [3]:
dataURL = 'https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/zoo.csv'
dfZoo = pd.read_csv(dataURL)
dfZoo.head()

     animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550
3     tiger     1004         300
4     tiger     1005         320

In [5]:
dataURL = 'https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/pandas_tutorial_read.csv'
colNames = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']
df_ArticlesRead = pd.read_csv(dataURL, delimiter=';', names = colNames )
df_ArticlesRead.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

# Tutorial 1

In [6]:
dataURL = 'https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/pandas_tutorial_read.csv'
colNames = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']
df_ArticlesRead = pd.read_csv(dataURL, delimiter=';', names = colNames )
df_ArticlesRead.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

##Selecting Columns & Rows

In [8]:
df_ArticlesRead[['user_id', 'country']]
df_ArticlesRead[['user_id', 'country']].head()

      user_id    country
0  2458151261  country_7
1  2458151262  country_7
2  2458151263  country_7
3  2458151264  country_7
4  2458151265  country_8

In [10]:
df_ArticlesRead[df_ArticlesRead.source == 'SEO']

              my_datetime event    country     user_id source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11    2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15    2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
...                   ...   ...        ...         ...    ...            ...
1772  2018-01-01 23:45:58  read  country_7  2458153033    SEO  South America
1777  2018-01-01 23:49:52  read  country_5  2458153038    SEO  North America
1779  2018-01-01 23:51:25  read  country_4  2458153040    SEO  South America
1784  2018-01-01 23:54:03  read  country_2  2458153045    SEO  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052    SEO           Asia

[346 rows x 6 columns]

In [11]:
df_ArticlesRead[df_ArticlesRead.source == 'SEO'].head()

            my_datetime event    country     user_id source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11  2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15  2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16  2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America

In [12]:
df_ArticlesRead[df_ArticlesRead.source == 'SEO'][['user_id', 'country','source']]

         user_id    country source
0     2458151261  country_7    SEO
1     2458151262  country_7    SEO
11    2458151272  country_7    SEO
15    2458151276  country_7    SEO
16    2458151277  country_8    SEO
...          ...        ...    ...
1772  2458153033  country_7    SEO
1777  2458153038  country_5    SEO
1779  2458153040  country_4    SEO
1784  2458153045  country_2    SEO
1791  2458153052  country_8    SEO

[346 rows x 3 columns]

#Tutorial 2

In [15]:
dataURL = 'https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/zoo.csv'
dfZoo = pd.read_csv(dataURL)
dfZoo.head()

     animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550
3     tiger     1004         300
4     tiger     1005         320

##Data Aggregation

In [14]:
dfZoo.count()

animal        22
uniq_id       22
water_need    22
dtype: int64

In [16]:
dfZoo[['animal']].count()

animal    22
dtype: int64

In [17]:
dfZoo.animal.count()

22

In [18]:
dfZoo.water_need.sum()

7650

In [19]:
dfZoo.sum()

animal        elephantelephantelephanttigertigertigertigerti...
uniq_id                                                   22253
water_need                                                 7650
dtype: object

In [20]:
dfZoo.water_need.min()

80

In [21]:
dfZoo.water_need.mean()

347.72727272727275

#Grouping

In [22]:
dfZoo.groupby('animal').mean()

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [23]:
dfZoo.groupby('animal').mean()[['water_need']]

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

In [24]:
dfZoo.groupby('animal').mean().water_need

animal
elephant    550.000000
kangaroo    416.666667
lion        477.500000
tiger       310.000000
zebra       184.285714
Name: water_need, dtype: float64

In [25]:
df_ArticlesRead.groupby('source').count()

         my_datetime  event  country  user_id  topic
source
AdWords          500    500      500      500    500
Reddit           949    949      949      949    949
SEO              346    346      346      346    346

In [26]:
df_ArticlesRead.groupby('source').count()[['user_id']]

         user_id
source
AdWords      500
Reddit       949
SEO          346

In [27]:
df_ArticlesRead[df_ArticlesRead.country == 'country_2'].groupby(['source', 'topic']).count()

                       my_datetime  event  country  user_id
source  topic
AdWords Africa                   3      3        3        3
        Asia                    31     31       31       31
        Australia                6      6        6        6
        Europe                  46     46       46       46
        North America           11     11       11       11
        South America           14     14       14       14
Reddit  Africa                  24     24       24       24
        Asia                   139    139      139      139
        Australia               18     18       18       18
        Europe                  29     29       29       29
        North America           27     27       27       27
        South America           26     26       26       26
SEO     Africa                   7      7        7        7
        Asia                     9      9        9        9
        Australia               10     10       10       10
        Europe                   4      4        4        4
        North America           42     42       42       42
        South America           16     16       16       16

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)