<a href="https://colab.research.google.com/github/Praxis-QR/FDS/blob/main/FDS_Data36_Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png)<br>
<hr>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

##Reference<br>
[Data36 Tutorial 1](https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/)<br>
[Data36 Tutorial 2](https://data36.com/pandas-tutorial-2-aggregation-and-grouping/)

In [ ]:
import numpy as np
import pandas as pd

#Loading Data

In [ ]:
pd.read_csv('zoo.csv', delimiter = ',')

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [ ]:
!wget 46.101.230.157/dilan/pandas_tutorial_read.csv

--2021-12-21 02:00:42--  http://46.101.230.157/dilan/pandas_tutorial_read.csv
Connecting to 46.101.230.157:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 110111 (108K) [application/octet-stream]
Saving to: ‘pandas_tutorial_read.csv’

pandas_tutorial_rea 100%[===================>] 107.53K   407KB/s    in 0.3s

2021-12-21 02:00:42 (407 KB/s) - ‘pandas_tutorial_read.csv’ saved [110111/110111]

In [ ]:
pd.read_csv('pandas_tutorial_read.csv', delimiter=';')

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
5     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
6     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
7     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
8     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
9     2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
10    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
11    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
12    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
13    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
14    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
15    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
16    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
17    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
18    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
19    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
20    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
21    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
22    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
23    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
24    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
25    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
26    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
27    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
28    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
29    2018-01-01 00:24:52  read  country_6  2458151291      SEO  North America
...                   ...   ...        ...         ...      ...            ...
1764  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1765  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1766  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1767  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1768  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1769  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1770  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1771  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1772  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1773  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1774  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1775  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1776  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1777  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1778  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1779  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1780  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1781  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1782  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1783  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1784  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1785  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1786  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1787  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1788  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1794 rows x 6 columns]

In [ ]:
pd.read_csv('pandas_tutorial_read.csv', delimiter=';', names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [ ]:
url = 'http://46.101.230.157/dilan/pandas_tutorial_read.csv'
col_names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']

In [ ]:
pd.read_csv(url, delimiter=';', names = col_names )

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [ ]:
article_read = pd.read_csv(url, delimiter=';', names = col_names )

In [ ]:
article_read.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

#Selecting Columns & Rows

In [ ]:
article_read[['user_id', 'country']]

         user_id    country
0     2458151261  country_7
1     2458151262  country_7
2     2458151263  country_7
3     2458151264  country_7
4     2458151265  country_8
5     2458151266  country_6
6     2458151267  country_2
7     2458151268  country_6
8     2458151269  country_7
9     2458151270  country_5
10    2458151271  country_5
11    2458151272  country_7
12    2458151273  country_5
13    2458151274  country_2
14    2458151275  country_7
15    2458151276  country_7
16    2458151277  country_8
17    2458151278  country_2
18    2458151279  country_4
19    2458151280  country_2
20    2458151281  country_2
21    2458151282  country_7
22    2458151283  country_2
23    2458151284  country_2
24    2458151285  country_7
25    2458151286  country_2
26    2458151287  country_5
27    2458151288  country_2
28    2458151289  country_2
29    2458151290  country_7
...          ...        ...
1765  2458153026  country_2
1766  2458153027  country_5
1767  2458153028  country_5
1768  2458153029  country_8
1769  2458153030  country_5
1770  2458153031  country_6
1771  2458153032  country_5
1772  2458153033  country_7
1773  2458153034  country_8
1774  2458153035  country_2
1775  2458153036  country_2
1776  2458153037  country_6
1777  2458153038  country_5
1778  2458153039  country_2
1779  2458153040  country_4
1780  2458153041  country_8
1781  2458153042  country_2
1782  2458153043  country_2
1783  2458153044  country_3
1784  2458153045  country_2
1785  2458153046  country_2
1786  2458153047  country_6
1787  2458153048  country_2
1788  2458153049  country_7
1789  2458153050  country_4
1790  2458153051  country_2
1791  2458153052  country_8
1792  2458153053  country_6
1793  2458153054  country_7
1794  2458153055  country_5

[1795 rows x 2 columns]

In [ ]:
article_read[article_read.source == 'SEO']

              my_datetime event    country     user_id source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11    2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15    2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
18    2018-01-01 00:13:39  read  country_4  2458151279    SEO  North America
26    2018-01-01 00:20:18  read  country_5  2458151287    SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288    SEO  North America
30    2018-01-01 00:24:52  read  country_6  2458151291    SEO  North America
41    2018-01-01 00:35:23  read  country_5  2458151302    SEO           Asia
54    2018-01-01 00:46:42  read  country_5  2458151315    SEO  North America
56    2018-01-01 00:49:37  read  country_7  2458151317    SEO  North America
57    2018-01-01 00:49:58  read  country_2  2458151318    SEO         Europe
60    2018-01-01 00:55:38  read  country_7  2458151321    SEO  North America
62    2018-01-01 00:56:27  read  country_6  2458151323    SEO           Asia
69    2018-01-01 01:03:19  read  country_5  2458151330    SEO         Europe
72    2018-01-01 01:04:22  read  country_8  2458151333    SEO  North America
73    2018-01-01 01:05:51  read  country_2  2458151334    SEO  North America
77    2018-01-01 01:12:51  read  country_4  2458151338    SEO         Africa
80    2018-01-01 01:14:24  read  country_4  2458151341    SEO         Africa
81    2018-01-01 01:15:53  read  country_7  2458151342    SEO  North America
83    2018-01-01 01:17:14  read  country_2  2458151344    SEO  South America
87    2018-01-01 01:18:12  read  country_6  2458151348    SEO      Australia
91    2018-01-01 01:20:37  read  country_7  2458151352    SEO  North America
97    2018-01-01 01:24:49  read  country_2  2458151358    SEO  North America
98    2018-01-01 01:28:30  read  country_4  2458151359    SEO           Asia
106   2018-01-01 01:35:40  read  country_5  2458151367    SEO  North America
110   2018-01-01 01:37:56  read  country_2  2458151371    SEO         Africa
114   2018-01-01 01:41:15  read  country_7  2458151375    SEO  North America
125   2018-01-01 01:51:51  read  country_2  2458151386    SEO  South America
...                   ...   ...        ...         ...    ...            ...
1601  2018-01-01 21:41:50  read  country_2  2458152862    SEO           Asia
1602  2018-01-01 21:44:00  read  country_5  2458152863    SEO  North America
1603  2018-01-01 21:44:10  read  country_5  2458152864    SEO  North America
1615  2018-01-01 21:52:25  read  country_8  2458152876    SEO  North America
1616  2018-01-01 21:52:31  read  country_4  2458152877    SEO         Europe
1619  2018-01-01 21:56:27  read  country_7  2458152880    SEO         Europe
1624  2018-01-01 21:59:03  read  country_8  2458152885    SEO  North America
1637  2018-01-01 22:07:57  read  country_2  2458152898    SEO      Australia
1641  2018-01-01 22:09:53  read  country_6  2458152902    SEO  North America
1662  2018-01-01 22:28:41  read  country_7  2458152923    SEO  North America
1664  2018-01-01 22:30:26  read  country_4  2458152925    SEO  North America
1669  2018-01-01 22:33:19  read  country_7  2458152930    SEO      Australia
1675  2018-01-01 22:43:25  read  country_5  2458152936    SEO           Asia
1688  2018-01-01 22:49:18  read  country_1  2458152949    SEO         Africa
1692  2018-01-01 22:52:44  read  country_2  2458152953    SEO  South America
1694  2018-01-01 22:53:19  read  country_2  2458152955    SEO  North America
1706  2018-01-01 23:01:15  read  country_7  2458152967    SEO  North America
1708  2018-01-01 23:03:12  read  country_6  2458152969    SEO         Europe
1723  2018-01-01 23:14:18  read  country_3  2458152984    SEO  North America
1736  2018-01-01 23:21:08  read  country_5  2458152997    SEO           Asia
1740  2018-01-01 23:23:20  read  country_7  2458153001    SEO           Asia
1748  2018-01-01 23:26:34  read  country_7  2458153009    SEO  South America
1756  2018-01-01 23:32:29  read  country_7  2458153017    SEO  North America
1757  2018-01-01 23:32:36  read  country_7  2458153018    SEO         Europe
1762  2018-01-01 23:36:09  read  country_5  2458153023    SEO  North America
1772  2018-01-01 23:45:58  read  country_7  2458153033    SEO  South America
1777  2018-01-01 23:49:52  read  country_5  2458153038    SEO  North America
1779  2018-01-01 23:51:25  read  country_4  2458153040    SEO  South America
1784  2018-01-01 23:54:03  read  country_2  2458153045    SEO  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052    SEO           Asia

[346 rows x 6 columns]

In [ ]:
article_read[article_read.source == 'SEO'].head()

            my_datetime event    country     user_id source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11  2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15  2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16  2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America

In [ ]:
article_read[article_read.source == 'SEO'][['user_id', 'country','source']]

         user_id    country source
0     2458151261  country_7    SEO
1     2458151262  country_7    SEO
11    2458151272  country_7    SEO
15    2458151276  country_7    SEO
16    2458151277  country_8    SEO
18    2458151279  country_4    SEO
26    2458151287  country_5    SEO
27    2458151288  country_2    SEO
30    2458151291  country_6    SEO
41    2458151302  country_5    SEO
54    2458151315  country_5    SEO
56    2458151317  country_7    SEO
57    2458151318  country_2    SEO
60    2458151321  country_7    SEO
62    2458151323  country_6    SEO
69    2458151330  country_5    SEO
72    2458151333  country_8    SEO
73    2458151334  country_2    SEO
77    2458151338  country_4    SEO
80    2458151341  country_4    SEO
81    2458151342  country_7    SEO
83    2458151344  country_2    SEO
87    2458151348  country_6    SEO
91    2458151352  country_7    SEO
97    2458151358  country_2    SEO
98    2458151359  country_4    SEO
106   2458151367  country_5    SEO
110   2458151371  country_2    SEO
114   2458151375  country_7    SEO
125   2458151386  country_2    SEO
...          ...        ...    ...
1601  2458152862  country_2    SEO
1602  2458152863  country_5    SEO
1603  2458152864  country_5    SEO
1615  2458152876  country_8    SEO
1616  2458152877  country_4    SEO
1619  2458152880  country_7    SEO
1624  2458152885  country_8    SEO
1637  2458152898  country_2    SEO
1641  2458152902  country_6    SEO
1662  2458152923  country_7    SEO
1664  2458152925  country_4    SEO
1669  2458152930  country_7    SEO
1675  2458152936  country_5    SEO
1688  2458152949  country_1    SEO
1692  2458152953  country_2    SEO
1694  2458152955  country_2    SEO
1706  2458152967  country_7    SEO
1708  2458152969  country_6    SEO
1723  2458152984  country_3    SEO
1736  2458152997  country_5    SEO
1740  2458153001  country_7    SEO
1748  2458153009  country_7    SEO
1756  2458153017  country_7    SEO
1757  2458153018  country_7    SEO
1762  2458153023  country_5    SEO
1772  2458153033  country_7    SEO
1777  2458153038  country_5    SEO
1779  2458153040  country_4    SEO
1784  2458153045  country_2    SEO
1791  2458153052  country_8    SEO

[346 rows x 3 columns]

#Data Aggregation

In [ ]:
zoo = pd.read_csv('zoo.csv', delimiter = ',')

In [ ]:
zoo.count()

animal        22
uniq_id       22
water_need    22
dtype: int64

In [ ]:
zoo[['animal']].count()

animal    22
dtype: int64

In [ ]:
zoo.animal.count()

22

In [ ]:
zoo.water_need.sum()

7650

In [ ]:
zoo.sum()

animal        elephantelephantelephanttigertigertigertigerti...
uniq_id                                                   22253
water_need                                                 7650
dtype: object

In [ ]:
zoo.water_need.min()

80

In [ ]:
zoo.water_need.mean()

347.72727272727275

#Grouping

In [ ]:
zoo.groupby('animal').mean()

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [ ]:
zoo.groupby('animal').mean()[['water_need']]

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

In [ ]:
zoo.groupby('animal').mean().water_need

animal
elephant    550.000000
kangaroo    416.666667
lion        477.500000
tiger       310.000000
zebra       184.285714
Name: water_need, dtype: float64

In [ ]:
article_read.groupby('source').count()

         my_datetime  event  country  user_id  topic
source
AdWords          500    500      500      500    500
Reddit           949    949      949      949    949
SEO              346    346      346      346    346

In [ ]:
article_read.groupby('source').count()[['user_id']]

         user_id
source
AdWords      500
Reddit       949
SEO          346

In [ ]:
article_read[article_read.country == 'country_2'].groupby(['source', 'topic']).count()

                       my_datetime  event  country  user_id
source  topic
AdWords Africa                   3      3        3        3
        Asia                    31     31       31       31
        Australia                6      6        6        6
        Europe                  46     46       46       46
        North America           11     11       11       11
        South America           14     14       14       14
Reddit  Africa                  24     24       24       24
        Asia                   139    139      139      139
        Australia               18     18       18       18
        Europe                  29     29       29       29
        North America           27     27       27       27
        South America           26     26       26       26
SEO     Africa                   7      7        7        7
        Asia                     9      9        9        9
        Australia               10     10       10       10
        Europe                   4      4        4        4
        North America           42     42       42       42
        South America           16     16       16       16

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)